In [24]:
import pandas as pd
import numpy as np
import pprint
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("tennis.csv")
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
outlook     14 non-null object
temp        14 non-null object
humidity    14 non-null object
windy       14 non-null bool
play        14 non-null object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [6]:
data.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [16]:
outlook_count = data.groupby(['outlook', 'play']).size()
outlook_total = data.groupby(['outlook']).size()
temp_count = data.groupby(['temp', 'play']).size()
temp_total = data.groupby(['temp']).size()
humidity_count = data.groupby(['humidity', 'play']).size()
humidity_total = data.groupby(['outlook']).size()
windy_count = data.groupby(['windy', 'play']).size()
windy_total = data.groupby(['windy']).size()
pprint.pprint(outlook_count)
print('--------------------')
pprint.pprint(windy_total)
print('--------------------')
pprint.pprint(outlook_total)
print('--------------------')
pprint.pprint(temp_count)
print('--------------------')
pprint.pprint(temp_total)
print('--------------------')
pprint.pprint(humidity_count)
print('--------------------')
pprint.pprint(humidity_total)
print('--------------------')
pprint.pprint(windy_count)
print('--------------------')
pprint.pprint(windy_total)

outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64
--------------------
windy
False    8
True     6
dtype: int64
--------------------
outlook
overcast    4
rainy       5
sunny       5
dtype: int64
--------------------
temp  play
cool  no      1
      yes     3
hot   no      2
      yes     2
mild  no      2
      yes     4
dtype: int64
--------------------
temp
cool    4
hot     4
mild    6
dtype: int64
--------------------
humidity  play
high      no      4
          yes     3
normal    no      1
          yes     6
dtype: int64
--------------------
outlook
overcast    4
rainy       5
sunny       5
dtype: int64
--------------------
windy  play
False  no      2
       yes     6
True   no      3
       yes     3
dtype: int64
--------------------
windy
False    8
True     6
dtype: int64

In [18]:
p_over_yes = outlook_count['overcast','yes']
p_over_no = 0
p_rainy_yes = outlook_count['rainy','yes']
p_rainy_no = outlook_count['rainy','no']
p_sunny_yes = outlook_count['sunny', 'yes']

In [19]:
X_train = pd.get_dummies(data[['outlook', 'temp', 'humidity', 'windy']])
y_train = pd.DataFrame(data['play'])

In [20]:
X_train

,windy,outlook_overcast,outlook_rainy,outlook_sunny,temp_cool,temp_hot,temp_mild,humidity_high,humidity_normal
0,False,0,0,1,0,1,0,1,0
1,True,0,0,1,0,1,0,1,0
2,False,1,0,0,0,1,0,1,0
3,False,0,1,0,0,0,1,1,0
4,False,0,1,0,1,0,0,0,1
5,True,0,1,0,1,0,0,0,1
6,True,1,0,0,1,0,0,0,1
7,False,0,0,1,0,0,1,1,0
8,False,0,0,1,1,0,0,0,1
9,False,0,1,0,0,0,1,0,1
10,True,0,0,1,0,0,1,0,1
11,True,1,0,0,0,0,1,1,0
12,False,1,0,0,0,1,0,0,1
13,True,0,1,0,0,0,1,1,0

In [21]:
y_train

   play
0    no
1    no
2   yes
3   yes
4   yes
5    no
6   yes
7    no
8   yes
9   yes
10  yes
11  yes
12  yes
13   no

In [22]:
#Import Library of Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [23]:
model = GaussianNB()

# Train the model using the training sets 
model.fit(X_train, y_train)

#Predict Output 
predicted= model.predict([[False,1,0,0,0,1,0,1,0]])
print (predicted)

['yes']

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
# Summary of the predictions made by the classifier
print(classification_report(y_train, model.predict(X_train)))
print(confusion_matrix(y_train, model.predict(X_train)))
# Accuracy score
from sklearn.metrics import accuracy_score
print('accuracy is',accuracy_score(model.predict(X_train),y_train))

              precision    recall  f1-score   support

          no       0.50      1.00      0.67         5
         yes       1.00      0.44      0.62         9

    accuracy                           0.64        14
   macro avg       0.75      0.72      0.64        14
weighted avg       0.82      0.64      0.63        14

[[5 0]
 [5 4]]
accuracy is 0.6428571428571429